@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Odibee+Sans&display=swap');

.landing-wrapper{
    font-family: 'Lato';
    background-color: #FFB021;
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/images/vector_final.svg#svgView(preserveAspectRatio(none))');
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position-y: 32vh;
    min-height: -webkit-fill-available;
  }

  .landing-wrapper .content-section{
    margin: 3rem 5rem 10rem 5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .info-section{
    display: flex;
    flex-direction: column;
  }
  
  .info-section h1{
    font-family: 'Odibee Sans';
    font-size: 3em;
    margin: 0 0 1rem 0;
  }
  
  .info-section h3{
    margin: 0 0 1rem 0;
  }

  .info-btn-wrapper{
    margin-bottom: 1rem;
  }

  .info-btn{
      font-family: 'Lato';
      padding: 0.2rem 0.75rem 0.2rem 0.75rem;
      margin-right: 1rem;
      background-color: #FFCF75;
      border: none;
      border-radius: 5px;
  }

  .info-btn:hover{
    cursor: pointer;
    background-color: #e4b359;
}

  .profile-image{
    height: 30vh;
    align-self: flex-end;
    border-radius: 50%;
    border: 1rem solid #FFCF75;
  }

  @media only screen and (min-width: 1100px){
      .landing-wrapper .content-section{
          margin: 5rem 15rem;
      }
  }

  @media only screen and (max-width: 700px) {
    .content-section{
      margin: 1rem 2rem;
    }
    .info-section{
        margin-bottom: 2rem;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .landing-wrapper {
      background-image: url('../../../public/images/mobile_landing.svg#svgView(preserveAspectRatio(none))');
      background-size: 100% 60%;
      background-repeat: no-repeat;
      background-position: bottom;
    }
    .landing-wrapper .content-section{
      margin: 3rem 2rem 10rem 2rem;
    }
    .landing-wrapper .info-section{
      margin-bottom: 5rem;
    }
    .profile-image{
        height: 20vh;
        border: 0.5rem solid #FFCF75;
    }
  }

  @media only screen and (max-width: 450px) and (max-height: 700px) {
    .landing-wrapper .info-section{
      font-size:x-small !important;
    }
  }