@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Odibee+Sans&display=swap');

.landing-wrapper{
    font-family: 'Lato';
    background-color: #FFCF75;
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/images/landing-bg.svg#svgView(preserveAspectRatio(none))');
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: -webkit-fill-available;
  }

  .landing-wrapper .content-section{
    margin: 3rem 15vw 20rem 15vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .info-section{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
  }
  
  .info-section h1{
    font-family: 'Odibee Sans';
    font-size: 8vh;
    margin: 0 0 1rem 0;
  }
  
  .info-section h3{
    font-size: 3vh;
    margin: 0 0 1rem 0;
  }

  .info-btn-wrapper{
    margin-bottom: 1rem;
  }

  .info-btn{
      font-family: 'Lato';
      font-size: 1.8vh;
      padding: 1vh 2vh 1vh 2vh;
      margin-right: 1rem;
      background-color: #FFB021;
      color: #000000;
      border: none;
      border-radius: 5px;
  }

  .info-btn:hover{
    cursor: pointer;
    background-color: #e4b359;
}

  .profile-image{
    height: 25vw;
    align-self: flex-end;
    border-radius: 50%;
    border: 0.5rem solid #FFB021;
  }

  @media only screen and (min-width: 1100px){
    .profile-image {
      height: 15vw;
    }
      .landing-wrapper .content-section{
          margin: 5rem 30vh 20rem 30vh;
      }
  }

  @media only screen and (max-width: 850px) {
    .landing-wrapper .content-section{
      margin: 1rem 10vh 1rem 10vh;
    }
    .info-section{
        margin-bottom: 2rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .landing-wrapper {
      background-image: url('../../../public/images/landing-bg-m.svg#svgView(preserveAspectRatio(none))');
      background-size: 100% 80%;
    }
    .landing-wrapper .content-section{
      margin: 3rem 10vw 10rem 10vw;
    }
    .landing-wrapper .info-section{
      margin-bottom: 5rem;
      font-size: 2.5vh;
    }
    .landing-wrapper .info-section h1{
      font-size: 15vw;
    }
    .info-btn {
      font-size: 2.5vh
    }
    .profile-image{
        height: 20vh;
    }
  }