@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Odibee+Sans&display=swap');

.landing-wrapper{
    font-family: 'Lato';
    background-color: #FFB021;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .landing-wrapper .content-section{
    margin: 1rem 5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .landing-transition{
    background-image: url('../../../public/images/vector_final.svg#svgView(preserveAspectRatio(none))');
    background-size: 100% 100%;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
  }

  .info-section{
    display: flex;
    flex-direction: column;
  }
  
  .info-section h1{
    font-family: 'Odibee Sans';
    font-size: 3em;
    margin: 0 0 1rem 0;
  }
  
  .info-section h3{
    margin: 0 0 1rem 0;
  }

  .info-btn-wrapper{
    margin-bottom: 1rem;
  }

  .info-btn{
      font-family: 'Lato';
      padding: 0.2rem 0.75rem 0.2rem 0.75rem;
      margin-right: 1rem;
      background-color: #FFCF75;
      border: none;
      border-radius: 5px;
  }

  .info-btn:hover{
    cursor: pointer;
    background-color: #e4b359;
}

  .profile-image{
    height: 30vh;
    align-self: flex-end;
    border-radius: 50%;
    border: 1rem solid #FFCF75;
  }

  @media only screen and (max-width: 700px) {
    .content-section{
      margin: 1rem 2rem;
    }
    .info-section{
        margin-bottom: 2rem;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .landing-wrapper {
        height: 120vh;
    }
    .landing-transition{
      height: 70%;
    }
    .landing-wrapper .content-section{
      margin: 3rem 2rem;
    }
    .info-section{
      margin-bottom: 4rem;
    }
    .profile-image{
        height: 20vh;
        border: 0.5rem solid #FFCF75;
    }
  }