/* overarching */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: 'Lato';
}

/*navigation*/

#navbar {
    background-color: #122136;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #e8e8e8;
}

#navbar h2 {
    margin: 0px;
    padding: 0rem 1rem;
}

#nav-container {
    display: flex;
}

.nav-item {
    text-size-adjust: none;
    align-self: flex-end;
    padding: 1rem;
    border-left: 1px solid #e8e8e8;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #0e1621;
    cursor: pointer;
}

.nav-item a, a:visited {
    color: inherit;
    text-decoration: none;
}

/*main content*/

#content{
    margin: 1rem;
}

#about-me-container{
    background-color: #e8e8e8;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#about-me-container h3{
    margin-top: 0;
}

#image-test{
    width: 400px;
    height: 300px;
    background-color: cyan;
}

#photo-container{
    width: 250px;
}

#profile-img {
    max-width: 100%;
}

/* responsive sizing */

@media only screen and (max-width: 990px) {
    #navbar{
        flex-direction: column;
        min-height: 80px;
    }
    #navbar h2{
        font-size: 3em;
        padding: 1rem;
    }
    #nav-container{
        font-size: 1.5em;
        border-right: 1px solid white;
        border-top: 1px solid white;
    }
    #about-me-container{
        flex-direction: column;
    }
    #photo-container{
        width: 500px;
    }
}