.experience-wrapper{
    font-family: 'Lato';
    background-color:#1B1B1E;
    height: 90vh;
    color: #ffffff;
    width: 100vw;
}

.experience-wrapper .content-section{
    margin: 0 5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    height: 80vh;
    justify-content: space-around;
}

.experience-transition{
    background-image: url('../../../public/images/transition_2.svg#svgView(preserveAspectRatio(none))');
    background-size: 100% 100%;
    width: 100vw;
    height: 40%;
    position: absolute;
    bottom: -100vh;
}

.info-section{
    margin-bottom: 1rem;
}

.info-profile{
    width: 40vw;
}

.card-wrapper{
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.card {
    height: 20vw;
    width: 35vw;
    background-size: cover;
    background-size: 100% 100%;
    box-shadow: 0px 3px 7px #1a1a1a;
}

#ev-card {
    background-image: url('../../../public/images/ev-centered.png');
}

#gt-card {
    background-image: url('../../../public/images/TechTowerSign.jpg');
}

@media only screen and (max-width: 700px) {
    .card-wrapper{
        flex-direction: column;
        height: 60vh;
        align-items: center;
    }
    .card {
        height: 30vw;
        width: 50vw;
    }
}

@media only screen and (max-width: 450px) {
    .info-profile{
        width: 60vw;
    }
    .info-section{
        font-size: smaller;
    }
    .card {
        height: 40vw;
        width: 70vw;
    }
}