.experience-wrapper{
    background-image: url('../../../public/images/transition_2.svg#svgView(preserveAspectRatio(none))');
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Lato';
    background-color:#1B1B1E;
    min-height: -webkit-fill-available;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.experience-wrapper .content-section{
    margin: 0 5rem 10rem 5rem;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    justify-content: space-around;
}

.experience-wrapper .info-section{
    margin-bottom: 5rem;
}

.info-profile{
    width: 40vw;
}

.card-wrapper{
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.card {
    height: 20vw;
    width: 35vw;
    background-size: cover;
    background-size: 100% 100%;
    box-shadow: 0px 3px 7px #1a1a1a;
}

#ev-card {
    background-image: url('../../../public/images/ev-centered.png');
}

#gt-card {
    background-image: url('../../../public/images/TechTowerSign.jpg');
}

@media only screen and (max-width: 700px) {
    .card-wrapper{
        flex-direction: column;
        height: 60vh;
        align-items: center;
    }
    .card {
        height: 30vw;
        width: 50vw;
    }
}
@media only screen and (min-width: 1100px){
    .experience-wrapper .content-section{
        margin: 0rem 15rem 0rem 15rem;
    }
    .card {
        height: 14vw;
        width: 25vw;
    }
}

@media only screen and (max-width: 450px) {
    .experience-wrapper{
        background-image: url('../../../public/images/mobile_transition_2.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .info-profile{
        width: 60vw;
    }
    .experience-wrapper .info-section{
        font-size: smaller;
    }
    .card {
        height: 40vw;
        width: 70vw;
    }
}