.experience-wrapper{
    background-image: url('../../../public/images/experience-bg.svg');
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Lato';
    background-color:#1B1B1E;
    min-height: -webkit-fill-available;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1px;
}

.experience-wrapper .content-section{
    margin: 0 5rem 10rem 5rem;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    justify-content: space-around;
}

.experience-wrapper .info-section{
    margin-bottom: 5rem;
}

.info-profile{
    width: 40vw;
}

.card-wrapper{
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.card {
    height: 20vw;
    width: 35vw;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 3px 7px #1a1a1a;
    bottom: 0;
    position: relative;
    transition: all 1s ease;
}

.focused-card {
    position: relative;
    bottom: 15vh;
}

.card-item {
    position: relative;
    margin: 1.5rem 1.5rem 0 1.5rem;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
    font-size: 0.6em;
}

.card-icon {
    font-size: 2em !important;
}

.card-overlay {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    transition: all 0.5s;
    bottom: 0;
}

.card:hover .card-overlay{
    opacity: 0.6;
}

.card:hover .card-item {
    opacity: 1 !important;
}

#ev-card {
    background-image: url('../../../public/images/ev-centered.png');
}

#gt-card {
    background-image: url('../../../public/images/TechTowerSign.jpg');
}

@media only screen and (max-width: 850px) {
    .card-wrapper{
        flex-direction: column;
        height: 60vh;
        align-items: center;
    }
    .card {
        height: 30vw;
        width: 50vw;
    }
}
@media only screen and (min-width: 1100px){
    .experience-wrapper .content-section{
        margin: 0rem 25vh 10rem 25vh;
    }
    .card {
        height: 14vw;
        width: 25vw;
    }
    .card-item {
        font-size: 0.8vw;
    }
}

@media only screen and (max-width: 450px) {
    .focused-card{
        bottom: 20vh;
    }
    .experience-wrapper{
        background-image: url('../../../public/images/experience-bg-m.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .experience-wrapper .content-section{
        margin: 0 0 10rem 0;
    }
    .info-profile{
        width: 60vw;
    }
    .experience-wrapper .info-section{
        margin: 0 10vw 0 10vw;
        font-size: smaller;
    }
    .card {
        height: 25vh;
        width: 100%;
    }
    .card-item{
        font-size: 0.9em;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 450px) and (max-height: 700px) {
    .card-item{
        font-size: 0.65em;
    }
}